AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros: Consecutive
AllowShortIfStatementsOnASingleLine: AllIfsAndElse
AlwaysBreakAfterReturnType: All
BinPackArguments: false
BinPackParameters: false
ContinuationIndentWidth: 2
ColumnLimit: 0
IncludeBlocks: Regroup
SpaceAfterCStyleCast: true
SpaceBeforeParens: Custom
SpaceBeforeParensOptions:
  AfterFunctionDeclarationName: true
  AfterFunctionDefinitionName: true
