[submodule "vendor/libuv"]
	path = vendor/libuv
	url = git@github.com:libuv/libuv.git
	shallow = true
[submodule "vendor/libjson"]
	path = vendor/libjson
	url = git@github.com:holepunchto/libjson.git
